.mainContainer
{
    box-sizing: border-box;

    display: flex;
    flex-flow: flex nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;

    border: solid 1px hsl(200, 30%, 30%);
}

.messageEditor
{
    box-sizing: border-box; 

    width: 100%;
    min-height: 5rem;      /* initial height */
    max-height: 200px;     /* maximum height */

    resize: none;          /* user cannot manually resize */
    overflow-y: auto;      /* scroll if exceeds max-height */

    font-family: sans-serif;
    font-size: 14px;

    margin: 20px;
    padding: 10px;

    background-color: hsla(220, 20%, 10%, 0.5);

    /* Blur effect */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px); /* Safari */

    border: solid 1px hsl(220, 10%, 30%);
    border-radius: 10px;
}