.mainContainer
{
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    margin: 0px;
    padding: 0px;

    border: solid 1px hsl(200, 30%, 30%);
}

.messageContainer
{
    width: 100%;

    margin: 0px;
    padding: 0px;

    background-color: hsla(220, 20%, 10%, 0.5);

    border: solid 1px hsl(220, 10%, 30%);
    border-radius: 10px;
}